<div class="row">
  <div class="col-md-12">
    <div class="input-group search-bar">
      <input ng-model="searchText.name" type="text" class="form-control" placeholder="Search">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </div>
</div>

<div class="row product-list">

  <div class="col-md-4" ng-repeat="(key, product) in products | filter:searchText">
     <div class="product">
      <h3 ui-sref="productDetailsPage({id:key})">{{product.name}}</h3>
      <img ng-src="{{product.image}}"/>
      <p>{{product.price | currency:"£"}}</p>
    </div>
  </div>

</div>